body {
    background-color: #AAA;
    font-family: arial;
    color: #222;
}

#content {
    width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #EEE;
    padding: 20px;
}

h1 {
    margin: 3px 0px;
}

.hint {
    font-style: italic;
    color: #888;
}

.result {
    color: #417;
    font-weight: bold;
    font-style: italic;
}

.error {
    background-color: #F00;
    color: #FF0;
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
}

